:root {
  --breite: 90vw;
  --firstcolor: #000000d1;
  --textcolor: #ffffff;
  --backgroundcolor: #282828;
  --linkcolor: #faebd7;
  --linkhovercolor: #b8cbff;
  --linkvisitedcolor: #ccffe6;
  --backbtnbackgroundcolor: #779474;
  --uebersichtcolor: #222222;

}

.lightMode {
  --firstcolor: #ffffff;
  --textcolor: #212121;
  --backgroundcolor: #5f5f5f;
  --linkcolor: #282828;
  --linkhovercolor: #888888;
  --linkvisitedcolor: #3b6927;
  --backbtnbackgroundcolor: #e8e8e8;
  --uebersichtcolor: #d1d1d1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header-Styling */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  max-height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero-Styling */
.main {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--firstcolor);
  color: var(--textcolor);
}

.main-content {
  text-align: center;
}

.main-content h1 {
  font-size: 48px;
  color: var(--textcolor);
  margin-bottom: 20px;
}

.main-content p {
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 30px;
}

.main-content img {
  max-width: 300px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #e60000;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #ff3333;
}

/* Overview-Styling */
.overview {
  background-color: var(--uebersichtcolor);
  padding: 50px;
}

.overview h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--textcolor);
}

.overview p {
  font-size: 18px;
  color: var(--textcolor);
  margin-bottom: 30px;
}

.learn-more-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.learn-more-button:hover {
  background-color: #333;
  color: #fff;
}

/* Footer-Styling */
footer {
  background-color: #131313;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#icon {
  cursor: pointer;
}