:root {
  --breite: 90vw;
  --firstcolor: #000000d1;
  --textcolor: #ffffff;
  --backgroundcolor: #282828c6;
  --linkcolor: #faebd7;
  --linkhovercolor: #b8cbff;
  --linkvisitedcolor: #ccffe6;
  --backbtnbackgroundcolor: #779474;
  --uebersichtcolor: #222222;

}

.lightMode {
  --firstcolor: #ffffff;
  --textcolor: #212121;
  --backgroundcolor: #ffffffae;
  --linkcolor: #282828;
  --linkhovercolor: #888888;
  --linkvisitedcolor: #3b6927;
  --backbtnbackgroundcolor: #e8e8e8;
  --uebersichtcolor: #d1d1d1;
}
html{
  background-color: var(--backgroundcolor);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundcolor);
}

/* Header-Styling */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 97.5vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  max-height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

@keyframes background1 {
  0% {background-image: url(img/Background1.jpg);}
  33% {background-image: url(img/Background4.jpg);}
  66% {background-image: url(img/Background3.jpg);}
}

/* Hero-Styling */
.main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--firstcolor);
  color: var(--textcolor);
  background-image: url(img/Background1.jpg);
  animation-name: background1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: repeat;
  background-size: 1500px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding-top: 6.5%;
  padding-bottom: 1%;

}

.main-content {
  max-height: 95%;
  text-align: center;
  width: 80%;
  background-color: var(--backgroundcolor);
}

.main-content h1 {
  font-size: 48px;
  color: var(--textcolor);
  margin-bottom: 20px;
}

.main-content p {
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 30px;
}

.main-content img {
  max-width: 300px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #e60000;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #ff3333;
}

/* Overview-Styling */
.overview {
  background-color: var(--uebersichtcolor);
  padding: 50px;
}

.overview h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--textcolor);
}

.overview p {
  font-size: 18px;
  color: var(--textcolor);
  margin-bottom: 30px;
}

.learn-more-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.learn-more-button:hover {
  background-color: #333;
  color: #fff;
}

/* Footer-Styling */
footer {
  background-color: #131313;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
  color: #ffffff;
}

#icon {
  cursor: pointer;
}
