:root {
  --breite: 90vw;
  --firstcolor: #445d64;
}

body {
  font-size: 12pt;
  background-color: #3b3b3b;
  font-family: verdana;
  color: white;
  width: var(--breite);
  height: auto;
  align-content: center;
  margin: 0 auto;
  margin-top: 4px;
  line-height: 150%;
}

h1 {
  color: white;
  font-family: verdana;
  font-style: bold;
  font-size: 18pt;
}

h2 {
  color: white;
  font-family: verdana;
  font-style: bold;
  font-size: 14pt;
}

.mittig {
  text-align: center;
}


.rechts {
  text-align: right;
}

.links {
  text-align: left;
}

.groesser {
  font-size: 120%;

}

.kleiner {
  font-size: 75%;
}

a:link {
  color: #faebd7;
  text-decoration: none;
}

a:visited {
  color: #bbf8a1;
}

a:hover {
  color: #e3e2ca;
}


.titel {
  width: auto;
  height: auto;
  min-height: 110px;
  padding: 0px;
  border: 3px solid #000000;
  background-color: var(--firstcolor);
  text-align: center;
  margin: auto;
}

.inhaltnavibox{
  width: auto;
  height: auto;
  display: flex;
  background-color: #3b3b3b;
  flex-direction: row;
  gap: 0px;
  margin: auto;
}

.navi {
  width: 15vw;
  height: auto;
  min-height: 700px;
  max-width: 180px;
  float: left;
  padding: 5px;
  border: 3px solid #000000;
  background-color: var(--firstcolor);
  color: #ffffff;
  position: relative;
  font-size: 11pt;
}

.navi a:hover {
  text-decoration: underline;
}


.inhalt {
  width: 85vw;
  height: auto;
  padding: 18px;
  border: 3px solid #000000;
  background-color: var(--firstcolor);
  color: #ffffff;
  float: left;
  position: relative;
}

.unten {
  width: var(--breite);
  height: 50px;
  float: left;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.unten a:hover{
  color: white;
  text-decoration: underline;
}

.backbutton{
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  border-radius: 4px;
}

.backbutton:hover{
  background-color: rgb(66, 83, 87);
}

#ytlink{
  text-decoration: underline;
}