body {
  font-size: 12pt;
  background-color: rgb(59, 59, 59);
  font-family: verdana;
  color: white;
  width: 1024px;
  height: auto;
  align-content: center;
  margin: 0 auto;
}

h1 {
  color: white;
  font-family: verdana;
  font-style: bold;
  font-size: 27px;
}

.mittig {
  text-align: center;
}


.rechts {
  text-align: right;
}

.links {
  text-align: left;
}

.groesser {
  font-size: 120%;

}

.kleiner {
  font-size: 75%;
}

a:link {
  color: rgb(250, 235, 215);
}

a:visited {
  color: rgb(164, 162, 134);
}

a:hover {
  color: rgb(223, 221, 188);
}


.titel {
  width: 1004px;
  height: 170px;
  padding: 5px;
  border: 5px solid #000000;
  background-color: rgb(68, 93, 100);
  text-align: center;
}

.navi {
  width: 200px;
  height: 604px;
  float: left;
  padding: 5px;
  border: 5px solid #000000;
  background-color: rgb(68, 93, 100);
  color: white;
}

.inhalt {
  width: 780px;
  height: 600px;
  padding: 7px;
  border: 5px solid #000000;
  background-color: rgb(68, 93, 100);
  color: white;
  float: right;
}

.unten {
  width: 1004px;
  height: 50px;
  float: left;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}