:root {
  --breite: 90vw;

  --firstcolor: #445d64;
  --textcolor: #ffffff;
  --backgroundcolor: #282828;
  --linkcolor: #faebd7;
  --linkhovercolor: #b8cbff;
  --linkvisitedcolor: #ccffe6;
  --backbtnbackgroundcolor: #779474;
}

.lightMode {
  --firstcolor: #ffffff;
  --textcolor: #212121;
  --backgroundcolor: #5f5f5f;
  --linkcolor: #282828;
  --linkhovercolor: #888888;
  --linkvisitedcolor: #3b6927;
  --backbtnbackgroundcolor: #e8e8e8;
}

body {
  font-size: 12pt;
  background-color: var(--backgroundcolor);
  font-family: verdana;
  color: var(--textcolor);
  width: var(--breite);
  height: auto;
  align-content: center;
  margin: 0 auto;
  margin-top: 4px;
  line-height: 150%;
}

h1 {
  color: var(--textcolor);
  font-family: verdana;
  font-style: bold;
  font-size: 18pt;
}

h2 {
  color: var(--textcolor);
  font-family: verdana;
  font-style: bold;
  font-size: 14pt;
}

.mittig {
  text-align: center;
}


.rechts {
  text-align: right;
}

.links {
  text-align: left;
}

.groesser {
  font-size: 120%;

}

.kleiner {
  font-size: 75%;
}

a:link {
  color: var(--linkcolor);
  text-decoration: none;
}

a:visited {
  color: var(--linkvisitedcolor);
}

a:hover {
  color: var(--linkhovercolor);
}


.titel {
  width: auto;
  height: auto;
  min-height: 110px;
  padding-top: 3px;
  border: 3px solid #000000;
  background-color: var(--firstcolor);
  text-align: center;
  margin: 0px;
}

.sidenav a:hover {
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff;
}

.inhalt {
  width: auto;
  height: auto;
  padding: 20px;
  margin: 0px;
  border: 3px solid #000000;
  background-color: var(--firstcolor);
  color: var(--textcolor);
  float: center;
  position: relative;
}

.unten {
  width: var(--breite);
  height: 50px;
  float: left;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.unten a {
  color: rgb(198, 198, 198);
}

.unten a:hover {
  color: white;
  text-decoration: underline;
}

.backbutton {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  border-radius: 4px;
}

.backbutton:hover {
  background-color: var(--backbtnbackgroundcolor);
}

#ytlink {
  text-decoration: underline;
}

#icon {
  width: 1vw;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 6%;
}

#icon:hover {
  background-color: var(--backbtnbackgroundcolor);
  border-radius: 30px;
}

#burgerMenu {
  width: 1vw;
  position: absolute;
  top: 2%;
  left: 6%;
}

#burgerMenu:hover {
  background-color: var(--backbtnbackgroundcolor);
  border-radius: 3px;
}